
<div>
    <app-mainmenu class="aside-menu"></app-mainmenu>
</div>

<form  class="dashboard-form" method="post">
    <div class="div-center"><h1>{{title}}</h1></div>
    <table class="tabla">
        <thead>
            <th>Nº</th>
            <th>Id</th>
            <th>Proyecto</th>
        </thead>

        <tbody>
            <tr *ngFor="let p of projects; let i = index">
                <td>
                    {{i+1}} 
                </td>
                <td>
                    {{p.id}} 
                </td>
                <td>
                    {{p.name }}
                </td>
            </tr>
        </tbody>
    </table>
</form>