
<div>
  <app-mainmenu class="aside-menu"></app-mainmenu>
</div>
<form  class="dashboard-form" method="post">
    <div class="div-center">
        <h4>Registrar Entrada/Salida</h4> 
    </div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
            <select size=2 type="text" class="form-control" id="type" required [(ngModel)]="daily.type" name="type">
              <option value="Entrada" selected>Entrada</option> 
              <option value="Salida">Salida</option> 
            </select> 
        </div>

        <app-reloj class="mreloj"></app-reloj>
        
        <br/>
        <div class="div-center">
            <button (click)="saveDaily()" class="btn btn-success">Enviar</button>
        </div>
      </div>
  
      <div *ngIf="submitted">
        <h4>Enviado correctamente</h4>
        <button class="btn btn-success" (click)="newDaily()">Add</button>
      </div>
    </div>
 
</form>