
<div>
  <app-mainmenu class="aside-menu"></app-mainmenu>
</div>
<form  class="dashboard-form" method="post">
    <div class="div-center">
        <h4>Registrar Entrada/Salida</h4> 
    </div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
            <select size=2 type="text" required="required" [(ngModel)]="dailytype" name="dailytype">
              <option selected="true" value="Entrada">Entrada</option> 
              <option value="Salida">Salida</option> 
            </select> 
        </div>

        <app-reloj class="mreloj"></app-reloj>
        
        <br/>
        <div class="div-center">
            <button (click)="saveDaily()" class="btn-ok">Enviar</button>
        </div>
      </div>
  
      <div *ngIf="submitted">
        <h4>Enviado correctamente</h4>
        <button class="btn-ok" (click)="newDaily()">Volver</button>
      </div>
    </div>
 
</form>