.dashboard-form {
  margin-top: 10rem;
  height: 60%;
  width: 60%;
  margin-left: 24%; /* Same + 4  as the width of the sidenav */
  background: rgba(255, 255, 255, 0.15);
  border-radius: 2.5rem;
  background-color: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
  color: black;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
}

.div-center {
  text-align: center;
}

.clock {
  display: grid;
  grid-gap: 1px 5px;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
}

.clock p {
  color: #666;
  font-size: 2rem;
}

.hours {
  grid-column-start: 1;
  grid-column-end: 3;
}

.horas {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: baseline;
}

span {
  color: #777777;
}

.mishoras {
  font-weight: bold;
  font-size: 10rem;
}

.ampm {
  font-size: 1.4rem;
  font-weight: 200;
}

.segundos {
  width: 100%;
  text-align: right;
  font-size: 0.8rem;
  font-size: 100;
}
