<div>
    <app-mainmenu class="aside-menu"></app-mainmenu>
</div>

<form  class="dashboard-form" method="post">
<div class="div-center"><h1>{{title}}</h1></div>
    <table class="tabla">
        <thead>
            <th>Id</th>
            <th>Usuario</th>
            <th>Tipo</th>
            <th>Fecha</th>
        </thead>

        <tbody>
            <tr *ngFor="let q of dailys; let i = index">
                <td>
                    {{i+1}} 
                </td>
                <td>
                    {{q.dailyUser }} 
                </td>
                <td>
                    {{q.dailyType }}
                </td>
                <td>
                    {{q.dailyInout }} 
                </td>
            </tr>
        </tbody>
    </table>
</form>