
<div>
    <app-mainmenu class="aside-menu"></app-mainmenu>
  </div>
  <form  class="dashboard-form" method="post">
      <div class="div-center">
          <h1>{{title}}</h1> 
      </div>

      <!-- Campos de formulario -->
      <div class="submit-form">
        <div *ngIf="!submitted">
          <div class="form-group">
            Identificador:
            <input type="text" required="required" disabled [(ngModel)]="miProject.id" name="miProject.id"/> 
          </div>
          <br/>

          <div class="form-group">
            Nombre:
            <input type="text" required="required" [(ngModel)]="miProject.name" name="miProject.name"/> 
          </div>
          <br/>

          <!-- Botoneras-->
          <!-- No se está añadiendo-->
          <div *ngIf="!projectAdd">
            <div class="div-center">
              <button (click)="getFirst()" class="btn-ok"><strong>&lt;&lt;</strong></button>
              <button (click)="getPrevious()" class="btn-ok"><strong>&lt;</strong></button>
              <span class="msg">Registro {{curRecord + 1}} de {{records}}</span>
              <button (click)="getNext()" class="btn-ok"><strong>&gt;</strong></button> 
              <button (click)="getLast()" class="btn-ok"><strong>&gt;&gt;</strong></button>
            </div>
            <br/>

            <div class="div-center">
              <button (click)="addProject()" class="btn-ok">Añadir</button>
              <button (click)="put()" class="btn-ok">Modificar</button>
              <button (click)="delete()" class="btn-ok">Borrar</button>
            </div>
          </div>

          <!-- Si se está añadiendo-->
          <div *ngIf="projectAdd">
            <div class="div-center">
              <button (click)="getFirst()" class="btn-ok" disabled><strong>&lt;&lt;</strong></button>
              <button (click)="getPrevious()" class="btn-ok" disabled><strong>&lt;</strong></button>
              <span class="msg">Añadiendo registro {{records + 1}}</span>
              <button (click)="getNext()" class="btn-ok" disabled><strong>&gt;</strong></button> 
              <button (click)="getLast()" class="btn-ok" disabled><strong>&gt;&gt;</strong></button>
            </div>
            <br/>

            <div class="div-center">
              <button (click)="saveProject()" class="btn-ok">Añadir</button>
              <button (click)="put()" class="btn-ok" disabled>Modificar</button>
              <button (click)="delete()" class="btn-ok" disabled>Borrar</button>
            </div>
          </div>
        </div>
        
        <!-- Se ha enviado -->
        <div *ngIf="submitted">
          <h4>Enviado correctamente</h4>
          <button class="btn-ok" (click)="getAllProjects()">Volver</button>
        </div>
      </div>
   
  </form>