/* menubar*/
.menubar {
  margin-top: 10rem;
  height: 60%;
  width: 20%;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 2.5rem;
  background-color: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
  color: black;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px; /* Place content 60px from the top */
}
/* Change background on mouse-over */
.menubar a:hover {
  background: #ddd;
  color: red;
}
