<div>
  <app-mainmenu class="aside-menu"></app-mainmenu>
</div>
<form  class="dashboard-form" method="post">
  <div class="div-center"><h1>Consulta de registros diarios</h1></div>

   <table class="tabla">
    <thead>
        <th>Nº</th>
        <th>Tipo</th>
        <th>Usuario</th>
        <th>Fecha</th>
    </thead>

    <tbody>
        <tr *ngFor="let daily of dailys; let i = index">
            <td>
                {{i+1}} 
            </td>
            <td>
              {{daily.dailyType}} 
            </td>
            <td>
              {{ daily.dailyUser }}
            </td>
            <td>
              {{daily.dailyInout}}
            </td>
        </tr>
    </tbody>
  </table>
</form>