
<div>
    <app-mainmenu class="aside-menu"></app-mainmenu>
</div>

<div>
    <form class="dashboard-form" method="post">
        <div class="div-center"><h1>{{title}}</h1></div>

        <table class="tabla">
            <thead>
                <th>Nick</th>
                <th>Nombre</th>
                <th>Mail</th>
                <th>Rol</th>
                <th>First login</th>
                <th>Last login</th>
            </thead>
        
            <tbody>
                <tr>
                    <td>
                        {{miUser.nick}} 
                    </td>
                    <td>
                        {{miUser.name}} {{miUser.surname}} 
                    </td>
                    <td>
                        {{miUser.mail}}
                    </td>
                    <td>
                        {{miUser.rol}}
                    </td>
                    <td>
                        {{miUser.firstlogin}}
                    </td>
                    <td>
                        {{miUser.lastlogin}}
                    </td>
                </tr>
            </tbody>
          </table>
    </form>

</div>
