.dashboard-form {
  margin-top: 10rem;
  height: 60%;
  width: 60%;
  margin-left: 24%; /* Same + 4  as the width of the sidenav */
  background: rgba(255, 255, 255, 0.15);
  border-radius: 2.5rem;
  background-color: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
  color: black;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
}
